.twitch__container {
    margin: auto;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.twitch__container-content {
    color: var(--color-light);
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 1024px) {
    .twitch__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .twitch__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}